@use "styles/vars" as *;

.exercise {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    width: 100%;
    margin-top: 2rem;
    animation: showExercise 0.3s ease;
}

.instruction {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    // line-height: 2rem;
    line-height: 1.8rem;
}

.text-code {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    padding: 0 0.5rem;
    background-color: $code-background-color;
    border-radius: 0.4rem;
    color: $code-green;
    font-family: $code-font-family;
    font-weight: $code-font-weight;
    margin: 0 0.5px;
}

.answers-block {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    // border: 1px solid red;
}

.answer-btn {
    font-size: 1rem;
    font-family: $font-family;
    font-weight: $font-weight;
    background-color: white;
    color: $text-color;
    border: 2px solid $secondary-background-color;
    box-sizing: border-box;
    border-radius: 0.4rem;
    // box-shadow: 0 2px 0 $secondary-background-color;
    width: 100%;
    padding: 0.5rem 1rem;
    // line-height: 2rem;
    line-height: 1.8rem;
    text-align: left;

    // should i use transition?
    // transition: background-color 0.2s, border 0.2s;
    position: relative;

    &:not(:disabled):hover {
        // border-color: #8bcafe;
        background-color: $light-gray;
        // box-shadow: 0 2px 0 $active;
    }

    &:active {
        // transform: translateY(2px);
        box-shadow: none;
    }
}

.selected {
  border-color: $active;
  background-color: $active-light;

  &:not(:disabled):hover {
    background-color: $active-light;
  }
}

.correct {
  border-color: rgb(69, 193, 102);
  background-color: rgb(224, 255, 231);
}

.wrong {
  border-color: red;
  background-color: rgb(255, 222, 222);
}
.status-square {
  position: absolute;
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: $active;
  color: white;
  top: -0.4rem;
  right: -0.4rem;
  border-radius: 0.25rem;
  font-family: $font-family;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 0.625rem;
  }
}

.square-wrong {
  background-color: red;
}

.square-correct {
  background-color: rgb(69, 193, 102);
}

.reset-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}