// $font-family: "Montserrat";
$font-family: "Poppins";
$font-weight: 500;
$font-weight-bold: 700;
$font-size: 1rem;

$background-color: #ffffff;
$secondary-background-color: #e1e1e1;

$light-gray: #f0f0f0;
$gray: #e1e1e1;
$dark-gray: #cecece;
$box-shadow-gray: #b7b7b7;

$text-color: #000000;
$secondary-text-color: #5f636e;

$code-font-family: "Cascadia Code", sans-serif;
$code-font-weight: 500;

$active: #008bff;
$active-dark: #29345a;
$active-light: #e5f3fd;

//lesson
$lesson-page-width: 40rem;

//code editor
$code-blue: #569cd6;
$code-green: #4ec9b0;
$code-light-blue: #9cdcfe;
$code-yellow: #dcdcaa;
$code-orange: #d69d85;
$code-pink: #dd7fe8;
$code-white: #f8f8f2;
$code-comment-green: #6A9955;

$code-background-color: #363942;
$code-secondary-background-color: #242730;


// $background-color: #363942;
// $secondary-background-color: #292c35;

// $text-color: #f8f8f2;
// $secondary-text-color: #5f636e;

// $font-family: "Montserrat";
// $font-weight: 600;
// $font-size: 1rem;

// //code editor
// $code-blue: #569cd6;
// $code-green: #4ec9b0;
// $code-light-blue: #9cdcfe;
// $code-yellow: #dcdcaa;
// $code-orange: #d69d85;
// $code-pink: #dd7fe8;

// $code-font-family: "Cascadia Code", sans-serif;
// $code-font-weight: 700;

// $active: #008bff;
// $active-dark: #005eaa;

// //lesson
// $lesson-page-width: 40rem;