<div class="page" >
    @if (showExercise) {
        <div class="exercise" >
            
            @if (currentExercise.type === 'code') {
                <app-code-exercise [codeExercise]="parseToCodeExercise(currentExercise)" [resetTrigger]="resetCounter" [isSubmited]="isAnswerSubmited" (userAnswer)="onSelectAnswer($event)" (reset)="reset()" />
            }
    
            @if (currentExercise.type === 'multiple') {
                <app-multiple-choice-exercise [multipleChoiceExercise]="parseToMultipleExercise(currentExercise)" [resetTrigger]="resetCounter" [isSubmited]="isAnswerSubmited" (userAnswer)="onSelectAnswer($event)" (reset)="reset()" />
            }

            @if (currentExercise.type === 'order') {
                <app-code-order-exercise [codeOrderExercise]="parseToCodeOrderExercise(currentExercise)" [isSubmited]="isAnswerSubmited" (userAnswer)="onSelectAnswer($event)" (reset)="reset()" (disable)="disable()" />
            }

            @if (currentExercise.type === 'match') {
                <app-match-pairs-exercise [matchPairsExercise]="parseToMatchPairsExercise(currentExercise)" [isSubmited]="isAnswerSubmited" (userAnswer)="onSelectAnswer($event)" (reset)="reset()" (disable)="disable()" />
            }
            
        </div>
    }
    <!-- <div class="exercise" >
        <app-code-order-exercise [codeOrderExercise]="codeOrderExerciseData" (userAnswer)="onSelectAnswer2($event)" />
    </div> -->
    <div class="margin" ></div>
</div>

@if (isAnswerSubmited) {
    <div class="footer footer-up" [class]="isAnswerCorrect ? 'success' : 'failure'" >
        <div class="content content-submited" > 
            <div class="status" >
                @if (isAnswerCorrect) {
                    🎉 Correct!
                } @else {
                    🚨 Incorrect
                }
            </div>
            <div class="btn-group">
                <!-- <button class="btn btn-gray" (click)="reset()" >Reset</button> -->
                <button class="btn" >Why?</button>
                <button class="btn" [class]="isAnswerCorrect ? 'btn-green' : 'btn-gray'" (click)="nextExecise()" >Continue</button>
            </div>
        </div>
    </div>
} @else {
    <div class="footer" >
        <div class="content"> 
                <button class="btn btn-wide" (click)="onSubmitAnswer()" [disabled]="!selectedAnswerId" >Check</button>
        </div>
    </div>
}