@use "styles/vars" as *;

.page {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;

    // border: 1px solid green;
}

.exercise {
    width: $lesson-page-width;
}

.margin {
    padding-bottom: 6rem;
    width: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 5rem;
    background-color: $background-color;
    // border-top: 2px solid $secondary-background-color;
    border-top: 2px solid $dark-gray;
    box-sizing: border-box;

    display: flex;
    justify-content: center;

    .content {
        width: $lesson-page-width;
        display: flex;
        justify-content: center;
        align-items: center;

        // border: 1px solid;
    }

    .content-submited {
        justify-content: space-between;
    }

    .status {
        font-size: 1.5rem;
        font-weight: $font-weight-bold;

        display: flex;
        align-items: center;
        gap: 1rem;

        span {
            font-size: 2rem;
        }

        svg {
            width: 1.5rem;
            position: relative;

            // border: 1px solid;
        }
    }

    .btn-group {
        display: flex;
        gap: 1rem;
    }
}

.footer-up {
    animation: footerUp 0.3s forwards;
}

.success {
    background-color: rgb(210, 249, 220);
    border-top: 2px solid rgb(150, 232, 171);
    color: rgb(69, 193, 102);
}

.failure {
    // background-color: rgb(255, 203, 203);
    // border-top: 2px solid rgb(237, 169, 169);
    // color: rgb(176, 54, 54);
    background-color: $light-gray;
    color: $text-color;
}

@keyframes footerUp {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}