@use "styles/vars" as *;

.nav {
    width: 100%;
    height: 4rem;
    // border-bottom: 2px solid $secondary-background-color;
    box-shadow: 0 0 10px $secondary-background-color;
    box-sizing: border-box;

    .progress-bar {
        width: 100%;
        background-color: $secondary-background-color;
        border-radius: 1rem;
    }
}

.page-content {
    width: 100%;

    height: calc(100vh - 9rem);

    box-sizing: border-box;
    // border: 2px solid red;
}