<div class="page">
    <section class="main-section" >

        <!-- <div class="course-image" >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 790 790"><path fill="#512bd4" fill-rule="evenodd" d="m395 36-37.203 21.479L84.097 215.5v359L395 754l310.903-179.5v-359L435.395 59.322z"/><path fill="#fff" fill-rule="evenodd" d="M397.252 618c-122.883 0-222.5-99.617-222.5-222.5S274.369 173 397.252 173c82.224 0 154.679 45.73 193.197 112.063l-88.056 50.87c-20.751-37.094-59.614-61.751-105.141-61.751-67.002 0-121.316 54.316-121.316 121.318s54.314 121.318 121.316 121.318c45.228 0 84.675-24.752 105.537-61.447l87.943 50.074C552.45 572.67 480.145 618 397.252 618"/><text xml:space="preserve" x="532.41333" y="447" fill="#fff" font-family="Open Sans" font-size="169" font-weight="700">#</text></svg>
        </div> -->

        <div class="title" >{{ courseData.name }}</div>
        <div class="details-group" >
            <div class="detail" >
                <app-chapter-icon />
                {{ courseData.chapters.length }} Chapters
            </div>

            <div class="detail">
                <app-gym-icon />
                {{ getAllLessons() }} Lessons
            </div>
        </div>

        <div class="links-group" >
            @for (reference of courseData.fastReferences; track $index) {
                <button class="btn btn-border" (click)="navState.reset()" [routerLink]="'fast-references' + '/' + reference.referenceId" >
                    @if (reference.type === 'exercise') {
                        <app-exercise-icon class="course-element-icon" />
                    } @else if (reference.type === 'note') {
                        <app-note-icon class="course-element-icon" />
                    }
                    {{ reference.name }}
                </button>
            }
        </div>
        <div>
            Idea is: ADD HARD USEFUL TOPICS FIRST<br>
            - covariance and contravariance ✅<br>
            - <br>
        </div>
    </section>

    <section class="course-details-section" >
        @for (chapter of courseData.chapters; track $index) {

            <div class="chapter" >
                <button class="btn-chapter-head" (click)="onChapterClick(chapter.id)" >
                    <div class="center">
                        <div class="level" [style.color]="getLevelColor($index)" >level {{ $index + 1 }}</div>
                        <div class="chapter-title" >{{ chapter.name }}</div>
                    </div>
                    <div class="right" >
                        <app-arrow-icon [class.expand]="isExpanded(chapter.id)" />
                    </div>
                </button>

                @if(isExpanded(chapter.id)) {
                    <div class="lessons-group" >
                        @for (lesson of chapter.lessonReferences; track $index) {
                            <button class="btn btn-border" (click)="navState.reset()" [routerLink]="chapter.id + '/' + lesson.referenceId" >
                                @if (lesson.type === 'exercise') {
                                    <app-exercise-icon class="course-element-icon" />
                                } @else if (lesson.type === 'note') {
                                    <app-note-icon class="course-element-icon" />
                                }
                                {{ lesson.name }}
                            </button>
                        }
                    </div>
                }
            </div>
        }
    </section>
</div>