@use "styles/vars" as *;

.page {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
    // border: 1px solid green;
}

.main-section {
    width: 25rem;
    // border: 1px solid red;
}

.course-image {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;

    // border: 1px solid red;

    svg {
        width: 20rem;
        height: 20rem;
        // border: 1px solid purple;
    }
}

.title {
    font-size: 1.5rem;
    font-weight: $font-weight-bold;
}

.details-group {
    display: flex;
    gap: 1rem;
}

.detail {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    svg {
        width: 1rem;
        height: 1rem;
    }

}

.links-group {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    button {
        justify-content: flex-start;
        font-weight: $font-weight;
        height: 4rem;
        // padding: 0 1rem;
        gap: 1rem;

        svg {
            height: 1.5rem;
            width: 1.5rem;
            color: $dark-gray;
        }
    }
}

.course-details-section {
    width: 25rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    // border: 1px solid red;
}

.btn-chapter-head {
    border: 2px solid $dark-gray;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: $font-size;
    font-family: $font-family;
    background-color: white;

    .level {
        text-transform: uppercase;
    }

    .chapter-title {
        font-weight: $font-weight-bold;
    }

    .center {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .right {
        width: 3rem;
        height: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 1rem;

        // border: 1px solid red;
    }
}

.lessons-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.75rem;
    margin-top: 0.75rem;

    // border: 1px solid green;

    button {
        width: 80%;
        justify-content: flex-start;
        font-weight: $font-weight;
        padding: 0 0.5rem;
        gap: 1rem;

        svg {
            height: 1.5rem;
            width: 1.5rem;
            color: $dark-gray;
        }
    }
}


.course-element-icon {
    color: $dark-gray;
}

.expand {
    transform: rotate(180deg);
}