@use "styles/vars" as *;

.exercise {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2rem;
  animation: showExercise 0.3s ease;
}

.instruction {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 2rem;
  line-height: 1.8rem;
}

.line-number {
  display: inline-block;
  width: 18px;
  text-align: right;
  padding-right: 1rem;
  color: $secondary-text-color;

  // border: 1px solid;
}

// code
.code-block {
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: $code-background-color;
  // box-shadow: 0 0 5px #2e313a;
  // border: 2px solid $secondary-background-color;
}

code {
  font-size: 1rem;
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  line-height: 2rem;
  // line-height: 1.8rem;
  color: white;
}

.bar {
  position: relative;
  left: -0.5rem;
  margin: 0.5rem 0;
  width: calc(100% + 1rem);
  // width: 100%;
  height: 1px;
  background-color: $code-secondary-background-color;
}

.control-panel {
  display: flex;
  // gap: 0.5rem;
  justify-content: space-between;
  background-color: $code-background-color;
  // padding: 0.5rem;
  border-radius: 0.8rem;

  // padding-top: 1rem;
  // border-top: 2px solid $code-secondary-background-color;

  .options {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }

  .control {
    display: flex;
    gap: 0.5rem
  }
}

.code-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: $code-font-family;
  font-weight: $code-font-weight;
  background-color: $code-background-color;
  color: $code-white;
  border: 2px solid $code-secondary-background-color;
  box-sizing: border-box;
  border-radius: 0.4rem;
  // box-shadow: 0 2px 0 $code-secondary-background-color;
  // margin-bottom: 3px;

  // height: 2.5rem;
  // padding: 0 0.75rem;
  position: relative;
  padding: 0.5rem 1rem;
  // line-height: 2rem;
  line-height: 1.8rem;
  // transition: background-color 0.2s, border 0.2s;

  &:not(:disabled):hover {
    background-color: #2e2f36;
  }


  // &:active {
  //   // transform: translateY(2px);
  //   box-shadow: none;
  // }

  .code-icon {
    width: 1rem;
    height: 1rem;

    // border: 1px solid;
  }

}

.gap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.75rem;
  padding: 0 0.25rem;
  line-height: 1.5rem;
  border-radius: 0.4rem;
  white-space: pre;
  // border: 3px dashed $secondary-background-color;
  border: 2px dashed $active;
  box-sizing: border-box;
  cursor: pointer;

  &::before {
    content: '\200B';
  }
}

.filled-gap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 1.75rem;
  padding: 0 0.25rem;
  line-height: 1.5rem;
  border-radius: 0.4rem;
  white-space: pre;
  border: 2px dashed $active;
  box-sizing: border-box;
  cursor: pointer;
  background-color: $active-dark;
}

.selected {
  border-color: $active;
  background-color: $active-dark;

  &:not(:disabled):hover {
    background-color: $active-dark;
  }
}

.correct {
  border-color: rgb(69, 193, 102);
  background-color: #2a3a33;
}

.wrong {
  border-color: red;
  background-color: #3f2d2d;
}

.status-square {
  position: absolute;
  content: '8';
  width: 1rem;
  height: 1rem;
  background-color: $active;
  top: -0.4rem;
  right: -0.4rem;
  border-radius: 0.25rem;
  font-family: $font-family;
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 0.625rem;
  }
}

.square-wrong {
  background-color: red;
}

.square-correct {
  background-color: rgb(69, 193, 102);
}

.reset-section {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5rem;
}