<div class="exercise">
    <div class="instruction">{{ codeExercise.instruction }}</div>
    
    <div class="code-block" >

        <code>
            @for (line of codeExercise.lines; track $index) {
    
                <!-- LINE NUMEBR -->
                <span class="line-number" >{{ $index + 1 }}</span>
    
                <!-- INDETATION -->
                <span [innerHTML]="indentSpaces(line.indent)" ></span>
    
                <!-- BEFORE GAP -->
                @for (token of line.before; track $index) {
                    @switch (token.type) {
                        @case ('yl') { <c-yl>{{ token.value }}</c-yl> }
                        @case ('bl') { <c-bl>{{ token.value }}</c-bl> }
                        @case ('gr') { <c-gr>{{ token.value }}</c-gr> }
                        @case ('or') { <c-or>{{ token.value }}</c-or> }
                        @case ('pk') { <c-pk>{{ token.value }}</c-pk> }
                        @default { <span>{{ token.value }}</span> }
                    }
                }
    
                <!-- GAP -->
                 @if (line.gap) {
                    @if (gapInput) {
                        <span class="filled-gap" >
                            @for (token of gapInput; track $index) {
                                @switch (token.type) {
                                    @case ('yl') { <c-yl>{{ token.value }}</c-yl> }
                                    @case ('bl') { <c-bl>{{ token.value }}</c-bl> }
                                    @case ('gr') { <c-gr>{{ token.value }}</c-gr> }
                                    @case ('or') { <c-or>{{ token.value }}</c-or> }
                                    @case ('pk') { <c-pk>{{ token.value }}</c-pk> }
                                    @default { <span>{{ token.value }}</span> }
                                }
                            }
                        </span>
                    } @else {
                        <span class="gap" ></span>
                    }
                 }
                 
                <!-- AFTER -->
                @if (line.after) {
                    @for (token of line.after; track $index) {
                        @switch (token.type) {
                            @case ('yl') { <c-yl>{{ token.value }}</c-yl> }
                            @case ('bl') { <c-bl>{{ token.value }}</c-bl> }
                            @case ('gr') { <c-gr>{{ token.value }}</c-gr> }
                            @case ('or') { <c-or>{{ token.value }}</c-or> }
                            @case ('pk') { <c-pk>{{ token.value }}</c-pk> }
                            @default { <span>{{ token.value }}</span> }
                        }
                    }
                }
                
                <br />
                
            }
    
            <!-- EMPTY LINE -->
            <span class="line-number" >{{ codeExercise.lines.length + 1 }}</span>
        </code>

        <div class="bar"></div>

        <!-- OPTIONS -->
        <div class="control-panel" >
            <div class="options" >
                @for (option of codeExercise.options; track $index) {
                    <button class="code-btn" [class]="{ selected: option.id === selectedId, correct: option.id === selectedId && isSubmited && isAnswerCorerct(), wrong: option.id === selectedId && isSubmited && !isAnswerCorerct() }" [disabled]="isSubmited" (click)="setInputGap(option.id)" >
                        @for (token of option.content; track $index) {
                            @switch (token.type) {
                                @case ('yl') { <c-yl>{{ token.value }}</c-yl> }
                                @case ('bl') { <c-bl>{{ token.value }}</c-bl> }
                                @case ('gr') { <c-gr>{{ token.value }}</c-gr> }
                                @case ('or') { <c-or>{{ token.value }}</c-or> }
                                @case ('pk') { <c-pk>{{ token.value }}</c-pk> }
                                @default { <span>{{ token.value }}</span> }
                            }
                        }
                        @if (option.id === selectedId && isSubmited) {
                            @if (isAnswerCorerct()) {
                                <div class="status-square">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 507.506 507.506" style="enable-background:new 0 0 507.506 507.506;" xml:space="preserve" ><g><path d="M163.865,436.934c-14.406,0.006-28.222-5.72-38.4-15.915L9.369,304.966c-12.492-12.496-12.492-32.752,0-45.248l0,0   c12.496-12.492,32.752-12.492,45.248,0l109.248,109.248L452.889,79.942c12.496-12.492,32.752-12.492,45.248,0l0,0   c12.492,12.496,12.492,32.752,0,45.248L202.265,421.019C192.087,431.214,178.271,436.94,163.865,436.934z"/></g></svg>
                                </div>
                            } @else {
                                <div class="status-square square-wrong" >
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="currentColor" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512.021 512.021" style="enable-background:new 0 0 512.021 512.021;" xml:space="preserve" ><g><path d="M301.258,256.01L502.645,54.645c12.501-12.501,12.501-32.769,0-45.269c-12.501-12.501-32.769-12.501-45.269,0l0,0   L256.01,210.762L54.645,9.376c-12.501-12.501-32.769-12.501-45.269,0s-12.501,32.769,0,45.269L210.762,256.01L9.376,457.376   c-12.501,12.501-12.501,32.769,0,45.269s32.769,12.501,45.269,0L256.01,301.258l201.365,201.387   c12.501,12.501,32.769,12.501,45.269,0c12.501-12.501,12.501-32.769,0-45.269L301.258,256.01z"/></g></svg>
                                </div>
                            }
                        }
                    </button>
                }
            </div>
            <div class="control" >
                <button class="code-btn" disabled >
                    <svg fill="currentColor" class="code-icon" xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.dev/svgjs"><g width="100%" height="100%" transform="matrix(-1,0,0,1,25.53377866744995,0)"><path d="M20.492,7.969,10.954.975A5,5,0,0,0,3,5.005V19a4.994,4.994,0,0,0,7.954,4.03l9.538-6.994a5,5,0,0,0,0-8.062Z" fill-opacity="1" data-original-color="#000000ff" stroke="none" stroke-opacity="1"/></g></svg>
                </button>
                <button class="code-btn" disabled >
                    <svg fill="currentColor" class="code-icon" xmlns="http://www.w3.org/2000/svg" id="Filled" viewBox="0 0 24 24"><path d="M20.492,7.969,10.954.975A5,5,0,0,0,3,5.005V19a4.994,4.994,0,0,0,7.954,4.03l9.538-6.994a5,5,0,0,0,0-8.062Z"/></svg>
                </button>
            </div>
        </div>
    </div>

</div>

