@use "styles/vars" as *;

.exercise {
    display: flex;
    flex-direction: column;
    // gap: 2rem;
    width: 100%;
    margin-top: 2rem;
}

.instruction {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 2rem;
    // line-height: 2rem;
    line-height: 1.8rem;
}

span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 1.75rem;
    padding: 0 0.5rem;
    background-color: $code-background-color;
    border-radius: 0.4rem;
    color: $code-green;
    font-family: $code-font-family;
    font-weight: $code-font-weight;
    // margin: 0 0.1rem;
}

.answers-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.answer-btn {
    font-size: 1rem;
    font-family: $font-family;
    font-weight: $font-weight;
    background-color: white;
    color: $text-color;
    border: 2px solid $secondary-background-color;
    box-sizing: border-box;
    border-radius: 0.4rem;
    box-shadow: 0 2px 0 $secondary-background-color;
    margin-bottom: 3px;
    width: 100%;
    padding: 0.5rem 1rem;
    // line-height: 2rem;
    line-height: 1.8rem;
    text-align: left;

    // should i use transition?
    transition: background-color 0.2s;

    &:hover {
        // border-color: $active;
        // box-shadow: 0 2px 0 $active;
    }

    &:active {
        transform: translateY(2px);
        box-shadow: none;
    }

    &:disabled {
        transform: translateY(2px);
        box-shadow: none;
        opacity: 0.75;
    }
}

.selected {
    background-color: $active-light;
    border-color: $active;
    box-shadow: 0 2px 0 $active;
}