@use "styles/vars" as *;

body {
  margin: 0;
  font-family: $font-family, sans-serif;
  font-weight: 500;
  color: $text-color;
  background-color: $background-color;
  overflow-y: scroll;
}

button {
  border: none;
  padding: 0;
  cursor: pointer;
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-weight: $font-weight-bold;
  font-size: $font-size;
  border-radius: 1rem;
  height: 3rem;
  padding: 0 1.5rem;
  background-color: $code-background-color;
  color: $code-white;
  box-sizing: border-box;
  // border: 2px solid $secondary-background-color;
  box-shadow: 0 5px 0 $code-secondary-background-color;
  // MARGIN 10px in .btn !!!!!!!
  margin-bottom: 10px;

  &:active {
    transform: translateY(5px);
    box-shadow: none;
  }

  &:disabled {
    transform: translateY(5px);
    box-shadow: none;
    cursor: not-allowed;
    // color: $secondary-background-color;
    // background-color: $background-color;
    // border: 2px dashed $secondary-background-color;
    opacity: 0.75;
  }
}

.btn-wide {
  width: 15rem;
}

.btn-gray {
  background-color: $dark-gray;
  color: $text-color;
  box-shadow: 0 5px 0 $box-shadow-gray;
}

.btn-green {
  background-color: rgb(150, 232, 171);
  color: $text-color;
  box-shadow: 0 5px 0 rgb(133, 203, 150);
}

.btn-red {
  background-color: rgb(226, 150, 150);
  color: $text-color;
  box-shadow: 0 5px 0 rgb(196, 124, 124);
}

.btn-border {
  box-shadow: 0 3px 0 $dark-gray;
  box-sizing: content-box;
  height: calc(3rem - 2px);
  border: 2px solid $dark-gray;
  // margin-top: 2px;
  background-color: white;
  color: $text-color;
  // MARGIN 10px in .btn 
  margin-bottom: 0;
  transform: translateY(-4px);
  padding: 0 0.5rem;

  &:active {
    transform: translateY(-2px);
    box-shadow: none;
  }
}

c-bl {
  color: $code-blue;
}

c-gr {
  color: $code-green;
}

c-lb {
  color: $code-light-blue;
}

c-yl {
  color: $code-yellow;
}

c-or {
  color: $code-orange;
}

c-pk {
  color: $code-pink;
}

c-wh {
  color: $code-white;
}

c-cmt {
  color: $code-comment-green;
}

c-bl,
c-gr,
c-lp,
c-or,
c-wh,
c-pk,
c-yl,
c-cmt {
  white-space: pre;
}

@keyframes showExercise {
  from {
    opacity: 0.75;
    transform: translateY(-20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn-flat {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
  font-size: 1rem;
  font-family: $font-family;
  font-weight: $font-weight;
  background-color: white;
  color: $text-color;
  box-sizing: border-box;
  border-radius: 0.4rem;
  position: relative;
  padding: 0.5rem 1rem;
  line-height: 1.8rem;
  // font-weight: $font-weight;
  font-weight: $font-weight-bold;

  &:hover {
    background-color: $light-gray;
  }

  svg {
    width: 1rem;
    height: 1rem;
  }
}